# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.python-version
.venv/
venv/

# Node / Frontend
node_modules/
dist/
build/
.parcel-cache/
.next/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Env
.env
.env.local
.env.*.local

# Logs
*.log
logs/

